<h1>Instituições</h1>

<div class="row" style="margin-top: 30px;" >
  <div class="col-5 container mx-auto" >
    <div class="row justify-content-center align-items-center">
      <label class="col-5" for="company_name">Razão Social:</label>
      <input class="col-7" type="text" [(ngModel)]="institution.company_name" id="company_name">

      <label class="col-5" for="fantasy_name">Nome Fantasia:</label>
      <input class="col-7" type="text" [(ngModel)]="institution.fantasy_name" id="fantasy_name">

      <label class="col-5" for="cnpj">CNPJ:</label>
      <input class="col-7" type="text" [(ngModel)]="institution.cnpj" id="cnpj">

      <label class="col-5" for="goal">Objetivo institucional:</label>
      <input class="col-7" type="text" [(ngModel)]="institution.goal" id="goal">

      <label class="col-5" for="aimed_people">Público Alvo:</label>
      <input class="col-7" type="text" [(ngModel)]="institution.aimed_people" id="aimed_people">

      <label class="col-5" for="aimed_people_age">Idade Média do Público Alvo:</label>
      <input class="col-7" type="text" [(ngModel)]="institution.aimed_people_age" id="aimed_people_age">

      <label class="col-5" for="capacity_free">Capacidade Livre Total:</label>
      <input class="col-7" type="text" [(ngModel)]="institution.capacity_free" id="capacity_free">

      <label class="col-5" for="capacity_free_M">Capacidade Livre Homens:</label>
      <input class="col-7" type="text" [(ngModel)]="institution.capacity_free_M" id="capacity_free_M">

      <label class="col-5" for="capacity_free_F">Capacidade Livre Muheres:</label>
      <input class="col-7" type="text" [(ngModel)]="institution.capacity_free_F" id="capacity_free_F">

      <label class="col-5" for="capacity_used">Capacidade Utilizada Total:</label>
      <input class="col-7" type="text" [(ngModel)]="institution.capacity_used" id="capacity_used">

      <label class="col-5" for="capacity_used_M">Capacidade Utilizada Homens:</label>
      <input class="col-7" type="text" [(ngModel)]="institution.capacity_used_M" id="capacity_used_M">

      <label class="col-5" for="capacity_used_F">Capacidade Utilizada Mulheres:</label>
      <input class="col-7" type="text" [(ngModel)]="institution.capacity_used_F" id="capacity_used_F">

      <label class="col-5" for="email">E-mail</label>
      <input class="col-7" type="text" [(ngModel)]="institution.communication.email" id="email">

      <label class="col-5" for="telefone">Telefone:</label>
      <input class="col-7" type="text" [(ngModel)]="institution.communication.telefone" id="telefone">

      <label class="col-5" for="fax">Fax:</label>
      <input class="col-7" type="text" [(ngModel)]="institution.communication.fax" id="fax">

      <label class="col-5" for="address">Logradouro:</label>
      <input class="col-7" type="text" [(ngModel)]="institution.address.address" id="address">

      <label class="col-5" for="number">Número:</label>
      <input class="col-7" type="text" [(ngModel)]="institution.address.number" id="number">

      <label class="col-5" for="district">Bairro:</label>
      <input class="col-7" type="text" [(ngModel)]="institution.address.district" id="district">

      <label class="col-5" for="cep">CEP:</label>
      <input class="col-7" type="text" [(ngModel)]="institution.address.cep" id="cep">

      <label class="col-5" for="city">Cidade:</label>
      <input class="col-7" type="text" [(ngModel)]="institution.address.city" id="city">

      <label class="col-5" for="state">Estado:</label>
      <input class="col-7" type="text" [(ngModel)]="institution.address.state" id="state">

      <label class="col-5" for="country">País:</label>
      <input class="col-7" type="text" [(ngModel)]="institution.address.country" id="country">

      <label class="col-5" for="latitude">Latitude:</label>
      <input class="col-7" type="text" [(ngModel)]="institution.address.latitude" id="latitude">

      <label class="col-5" for="longitude">Longitude:</label>
      <input class="col-7" type="text" [(ngModel)]="institution.address.longitude" id="longitude">

      <label class="col-12 mt-3">Pessoa para Contato: </label>
      <div class="col-12 container">
        <div class="row" *ngFor="let contact of institution.contact_people">
          <span class="col-11">{{ contact.email }}</span><i (click)="removeExpert(contact.id)" class="fa fa-minus-circle text-danger col-1"></i>
        </div>
      </div>
      <input class="col-11" type="text" #contact_email><i (click)="addExpert(contact_email.value)" class="fa fa-plus-circle text-success col-1"></i>

      <label class="col-12 mt-3">Responsável Técnico: </label>
      <div class="col-12 container">
        <div class="row" *ngFor="let manager of institution.technical_manager">
          <span class="col-11">{{ manager.email }}</span><i (click)="removeExpert(manager.id, true)" class="fa fa-minus-circle text-danger col-1"></i>
        </div>
      </div>
      <input class="col-11" type="text" #manager_email><i (click)="addExpert(manager_email.value, true)" class="fa fa-plus-circle text-success col-1"></i>


      <label class="col-5" for="legal_nature">Natureza Legal:</label>
      <input class="col-7" type="text" [(ngModel)]="institution.legal_nature" id="legal_nature">

      <label class="col-5" for="note">Observações:</label>
      <input class="col-7" type="text" [(ngModel)]="institution.note" id="note">

      <button class="btn btn-success mx-auto mb-5" (click)="salvar()">Salvar</button>
    </div>
  </div>
</div>
