<nav class="navbar navbar-expand-sm bg-light fixed-top">
 
    <!-- Links -->
      <ul class="navbar-nav">
        <!--
        <li class="nav-item">
          <a [routerLink]="['/phonetype']" class="btn btn-success btn-lg" style="background-color: lightyellow; color: black">Tipo Telefone</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/emailtype']" class="btn btn-success btn-lg" style="background-color: lightyellow; color: black">Tipo E-mail</a>
        </li>
        -->
        <li class="nav-item">
          <a [routerLink]="['/cidades']" class="btn btn-success btn-lg" style="background-color: lightyellow; color: black">Cidade</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/institutions']" class="btn btn-success btn-lg" style="background-color: lightyellow; color: black">Instituição</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/locations']" class="btn btn-success btn-lg" style="background-color: lightyellow; color: black">Locais</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/activities']" class="btn btn-success btn-lg" style="background-color: lightyellow; color: black">Atividades</a>
        </li>        
        <li class="nav-item">
          <a [routerLink]="['/offers']" class="btn btn-success btn-lg" style="background-color: lightyellow; color: black">Ofertas</a>
        </li>
      </ul>
     
    
    </nav>

  
