<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand">Guia 60+</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item">
                <a class="p-2 text-dark" [routerLink]="['/phonetype']">Tipo Telefone</a>
            </li> -->
            <!-- <li class="nav-item">
                <a class="p-2 text-dark" [routerLink]="['/emailtype']">Tipo E-mail</a>
            </li> -->
            <li class="nav-item">
                <a class="p-2 text-light" [routerLink]="['/cidades']">Cidades</a>
            </li>
            <li class="nav-item">
                <a class="p-2 text-light" [routerLink]="['/institutions']">Instituições</a>
            </li>
            <li class="nav-item">
                <a class="p-2 text-light" [routerLink]="['/locations']">Locais</a>
            </li>
            <li class="nav-item">
                <a class="p-2 text-light" [routerLink]="['/activities']">Atividades</a>
            </li>
            <li class="nav-item">
                <a class="p-2 text-light" [routerLink]="['/offers']">Ofertas</a>
            </li>
        </ul>
    </div>
</nav>