<div class="container d-flex justify-content-center">
    <div class="card my-4">
        <h5 class="card-header text-center">Cidade</h5>

        <div class="card-body">
            <form [formGroup]="regForm" (ngSubmit)="onSubmit()">
                <div class="form-row d-flex flex-column">
                    <app-input label="Nome" errorMessage="Campo Obrigatório">
                        <input class="form-control" formControlName="cityName" placeholder="Nome" autocomplete="off" />
                    </app-input>

                    <app-input label="Estado" errorMessage="Campo Obrigatório">
                        <input class="form-control" formControlName="state" placeholder="Estado" autocomplete="off" />
                    </app-input>

                    <app-input label="País" errorMessage="Campo Obrigatório">
                        <input class="form-control" formControlName="country" placeholder="País" autocomplete="off" />
                    </app-input>

                    <a class="required">(*) Campos Obrigatórios.</a>
                </div>

                <div class="text-center">
                    <button class="btn btn-primary mr-1" type="submit" [disabled]="!regForm.valid">Register</button>
                    <button class="btn btn-secondary custom-danger" type="reset" (click)="backPage()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>