<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-6 container">
            <h3 class="text-center my-3"> Cadastro de Atividades</h3>

            <table class="table container">
                <thead>
                    <tr class="row">
                        <th class="col-2 d-flex align-items-center" scope="col">Id</th>

                        <th class="col-6 text-center d-flex align-items-center" scope="col">Título</th>

                        <th class="col-4">
                            <button class="btn btn-success btn-block" (click)="create()">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                Nova Atividade
                            </button>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="row" *ngFor="let member of members">
                        <th class="col-2" scope="row">{{ member.id }}</th>

                        <td class="col-6">{{ member.title }}</td>

                        <td class="col-4 d-flex justify-content-between">
                            <button class="btn btn-primary mr-1 btn-block" (click)="update(member.id)">
                                <i class="fa fa-pencil-square-o"></i>
                                Alterar
                            </button>
                            
                            <button class="btn btn-danger" (click)="delete(member.id)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>