<div class="row" style="margin-top: 30px;" >
  <div class="col-6 mx-auto" >
    <div class="text-center">
      <h3> Cadastro de Atividades </h3>
      <table class="alt" border="2" width="100%">
        <thead>
        <tr>
          <th width="10%" bgcolor="#xxFFFF">Id</th>
          <th width="60%" bgcolor="#xxFFFF">Título</th>
          <th width="15%" bgcolor="#xxFFFF">Alterar</th>
          <th width="15%" bgcolor="#xxFFFF">Excluir</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let member of members">
          <td>{{ member.id }}</td>
          <td>{{ member.title }} </td>
          <td>
            <button class="btn_blue" (click)="update(member.id)"><i class="fa fa-pencil-square-o"></i>Alterar</button>
          </td>
          <td>
            <button class="btn_red" (click)="delete(member.id)"><i class="fa fa-trash"></i> Excluir</button>
          </td>
        </tr>
        <tr>
          <td colspan="4" align="center">
            <button class="btn_yellow" (click)="create()"><i class="fa fa-folder-open-o" aria-hidden="true"></i><b>Novo</b></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
